.history {
    width: 95%;
    height: 100%;

    font-family: Roboto;
}

.history-wrapper {
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.history-block {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    gap: 50px;
}

.odd {
    flex-flow: row-reverse nowrap;
}

img {
    max-width: 600px;
    max-height: 800px;

    border-radius: 15px;
}

.text-header {
    margin: 0;
    font-size: 32px;
}

.text-wrapper p {
    font-size: 20px;
}

@media (max-width: 1400px) {
    img {
        max-width: 500px;
        max-height: 600px;
    }
}

@media (max-width: 1200px) {
    .history-block {
        flex-direction: column;
    }

    .text-wrapper {
        text-align: center;
    }
    
    img {
        max-width: 700px;
        max-height: fit-content;
    }
}

@media (max-width: 750px) {  
    img {
        max-width: 500px;
    }
}

@media (max-width: 540px) {
    img {
        max-width: 350px;
    }

    .text-header {
        margin: 0;
        font-size: 26px;
    }
    
    .text-wrapper p {
        font-size: 18px;
    }
}

@media (max-width: 380px) {
    img {
        max-width: 250px;
    }

    .text-header {
        margin: 0;
        font-size: 24px;
    }
    
    .text-wrapper p {
        font-size: 16px;
    }
}