.shopping-cart {
    margin-top: 40px;

    font-family: Roboto;
}

.basket-container {
    width: 80%;
    margin: 4rem auto;
    padding: 1rem;

    border-radius: 1rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: .8rem;

    position: relative;
    background: white;

    color: black;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.36);
}

.basket-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.basket-add-button {
    cursor: pointer;

    outline: 2px solid black !important;
    border-radius: 10px;
    color: black;
    padding: 5px;
}

.basket-add-button:hover {
    background: rgb(181, 145, 147);
    color: white;
    outline: none !important; 
}


.basket-title {
    margin: 0;
}

.basket-total {
    margin: 0;
    height: fit-content;
    align-self: center;
}

.basket-clear-button {
    height: fit-content;
}

.basket-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.basket-container button {
    border: none;
    background-color: transparent;
    cursor: pointer;

    color: black;
}

.item {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: auto;
    margin-right: auto;

    border-radius: 1em;
    border: 2px solid black;
}

.item-head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

@media (max-width: 720px) {

    .item-price {
        align-self: center;
    }

    .basket-total {
        max-width: 64px;
    }

    .basket-add-button {
        max-width: 128px;
    }

    .item-title {
        text-align: start;
        font-size: 14px !important;
    }

    .item-price {
        text-align: start;
        align-self: start;
    }

    .basket-container h4 {
        font-size: 16px !important;
    }
}

@media (max-width: 450px) {
    .item {
        flex-direction: column;
    }

    .item-head {
        flex-direction: column;
    }

    .item-head img {
        align-self: center;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }

    .item-controls {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .basket-add-button {
        max-width: 96px;
    }

    .basket-container h4 {
        font-size: 10px !important;
    }

    .basket-container button { 
        font-size: 24px !important;
    }

    .item-title {
        text-align: center;
    }

    .item-price {
        text-align: center;
        align-self: center;
    }

    .basket-header {
        flex-direction: column-reverse;
    }
}

.item-head img {
    margin-top: auto;
    margin-bottom: auto;

    border-radius: 1em;
}
 
.basket-container button {
    color: black;
    font-size: 32px;
}

.basket-container h4 {
    font-size: 24px;
    margin: 0;
}

.item-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 10px;

    align-self: center;
}

.item-title {
    font-size: large;
    font-weight: bold;
}

.item-controls {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-right: 5px;
}

.item-change-quantity {
    display: flex;
    flex-direction: column;
}

.item-change-quantity button {
    margin: -.5rem;
}

.item-quantity-change {
    display: flex;
    flex-direction: column;
}

.item-delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}