.autorize {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(15px);
    z-index: 50;

    font-family: Roboto;
}

.header {
    z-index: 100 !important;
}

.form-container {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    gap: 40px;

    width: 400px;
    height: fit-content;

    border-radius: 1.5rem;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.36);
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

.go-back {
    font-size: 32px;
    padding: 5px 6px 3px 6px;
    color: black;
    text-decoration: none;
    width: fit-content;

    border-radius: 50%;
}

.go-back:hover {
    background-color: rgb(181, 145, 147);
    color: white;
}

.serv-form {
    margin: 0;
    padding: 0;
    width: 300px;
    height: fit-content;

    background-color: white;
    outline: 2px solid black;
    border-radius: 15px;

}

.serv-form form {
    margin-bottom: 30px;
}

.inputBox {
    width: 90%;
    margin-top: 20px;   
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.inputBox .button {
    width: 100%;
    padding: 15px;
    border-radius: 35px;
    letter-spacing: 1px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    border: none;
    outline: 1px solid black;

    font-size: 16px;
}

.inputBox .button {
    background-color: white;
    color: black;
    max-width: 130px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 600;
    text-decoration: none;
}

.inputBox .button:hover {
    background-color: rgb(181, 145, 147);
    color: white;
    outline: none;
}


.hidden {
    display: none;
}


.message {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

@media (max-width: 440px) {
    .form-container {
        width: 300px;
        padding-top: 0;
    }

    .control-panel {
        width: 280px;
        align-self: center;
        gap: 0;
    }

    .control-panel button {
        font-size: 16px;
    }

    
    .serv-form {
        width: 280px;
    }
}

@media (max-width: 320px) {
    .form-container {
        width: 250px;
    }

    .control-panel {
        width: 220px;
        align-self: center;
        gap: 0;
    }

    .control-panel button {
        font-size: 12px;
    }

    .serv-form {
        width: 220px;
    }
}