.navigation-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 95%;
    gap: 20px;
    min-height: 70px;
    font-family: Roboto;

    z-index: 1;
}

.navigation-panel ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-inline-start: 0;
    margin: 0;

    outline: 2px black solid;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
}

.navigation-panel li {
    padding: 18px;
}

.navigation-panel li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.navigation-panel li:hover a {
    color: white;
}

.navigation-panel li:hover {
    background-color: rgb(181, 145, 147);
}

.cancel {
    display: block;
    font-size: 32px;
    background: white;
    border: none;
    outline: 2px black solid;
    padding: 6px 9px 6px 9px;
    border-radius: 8px;

    margin-left: 50px;
}

.cancel:hover {
    background-color: rgb(181, 145, 147);
    color: white;
    outline: none;
}

.hidden {
    display: none !important;
}

@media (max-width: 1200px) {
    .navigation-panel li a {
        font-size: 16px;
    }

    .navigation-panel li {
        padding: 18px 5px 18px 5px;
    }
}

@media (max-width: 900px) {
    .navigation-panel {
        flex-direction: column;
        width: fit-content;
        right: 30px;
    }

    .navigation-panel ul {
        flex-direction: column;
    }

    .navigation-panel li {
        width: 100%;
        text-align: center;
    }

    .navigation-panel li a {
        font-size: 20px;
    }

    .cancel {
        display: block;
        font-size: 32px;
        background: white;
        border: none;
        outline: 2px black solid;
        padding: 5px 8px 5px 8px;
        border-radius: 8px;

        align-self: flex-end;
    }

    .cancel:hover {
        background-color: rgb(181, 145, 147);
        color: white;
        outline: none;
    }
}